.adminBoxTitle {
    color: $color3;
    background-color: $color2;
    padding-right: 20px;
    margin-bottom: 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .adminBoxTitleIcon {
        color: $color3;
        font-size: 20px;
        margin-right: 5px;
    }

    .yearOfCourse {
        background: $color1;
        padding: 5px;
    }

    .adminBoxTitleIconUp {
        display: block;
        float: right;
        cursor: pointer;
        transition: all 0.5s ease;
        &.rotateIconUp {
            transform: rotate(180deg);
        }
    }

}