.formInput {
    outline: none;
    border: none;
    width: 300px;
    padding: 5px 10px;
    border-radius: 5px;
    background: $color3;
    &.capitalize {
        text-transform: capitalize;
    }
}