.notiFail {
    font-size: 14px;
    color: $color5;
    background: rgba($color: $color4, $alpha: 1);
    padding: 2px 5px;
    margin-top: 5px;
    border-radius: 2px;
    &.hide {
        display: none;
    }
}
