.formBoxSelect {
    display: flex;
    align-items: center;
    position: relative;

    overflow: hidden;

    .formSelect{
        flex: 1;
        outline: none;
        border: none;
        width: 250px;
        padding: 5px;
        cursor: pointer;
        background: $color3;
        border: 1px solid $color1;
        border-radius: 3px;
        &.formSelectSmall {
            width: 110px;
            font-size: 14px;
            text-align-last: center;
        }
     }
     
     .formSelectIcon {
         position: absolute;
         right: 0px;
         width: 20px;
         height: 100%;
         background: $color1;
         display: flex;
         align-items: center;
         justify-content: center;
         color: $color3;
         pointer-events: none;
         border-top-right-radius: 3px;
         border-bottom-right-radius: 3px;

     }
}