
@import '../vendor/bootstrap';

@import '../vendor/slick';

@import '../vendor/fontAwesome';

@import '../vendor/font';

@import '../abstracts/variable';

@import '../abstracts/mixin';

@import '../layout/header';

@import '../layout/footer';

@import "../components/select";

@import "../components/input";

@import "../components/boxTitle";

@import "../components/notiBox";

@import "../components/btnLink";

@import "../components/notiFail";
@import "../components/pagination";

@import "../base/wrapImgResize";


*{
    margin: 0px;
    padding: 0px;
}
body {
    background: $color3;
}
li {
    list-style: none;
}
ul, p {
    margin-bottom: 0px;
}
.row {
    margin: 0px;
}