
.studentAdd {
    padding: 20px 0px
    
}

.adminFormAdd {
    .adminFormAddFileImg {
        display: none;
    }
    .adminFormAddTable {
        .adminFormAddText {
            margin: 0px 20px;
        }
        tr {
            td {
                padding: 10px 0px;
            }
        }
    }
    .adminFormAddTableSmall {
        margin: 0 auto;
    }
    .adminFormAddGroup {
        text-align: center;
        .adminFormAddBtn {
            @include btnMain();
        }
        .adminFormAddLink {
            width: fit-content;
            @include btnMain();
            background: $color2;
            text-decoration: none;
        }
    }
}
.adminFormAddBox {
    background-color: $color5;
    padding: 20px 0px;
}
.adminAddTitle { 
    padding: 5px 10px;
    font-size: 18px;
    color: $color3;
    background-color: $color2;
    margin-bottom: 0px;
}

.adminFormTitle {
    text-align: center;
    text-align: center;
    margin: 25px 0px 10px 0px;
    font-size: 25px;
}
.formInputMa {
    pointer-events: none;
    
}

@mixin subjectBox() {
     @include btnMain();
    background-color: $color2;
    cursor: pointer;
    @include transition(0.5s);
    transform: scale(1);
    
    &.boxSubjectActive {
        background-color: $color1;
        animation: bigbox 0.5s forwards ease-in-out;
    }

    @keyframes bigbox {
        0% {
            transform: scale(1);
        }

        50% {
            transform: scale(1.1);
        }
        100% {
            transform: scale(1);
        }
    }
}
.boxSubject {
   @include subjectBox();
}
.btnSubject {
 @include subjectBox();
}