.adminTab {
    padding: 20px 0px;

    .adminMainTab {
        background: $color5;
        padding: 20px;
        .adminTabItem {
            min-width: 160px;
            max-width: 200px;
            height: fit-content;
            border-radius: 7px;
            text-align: center;
            border: 1px solid $color2;
            margin-right: 30px;
            background: $color5;
            box-shadow: 5px -5px 0px 0px rgba($color: $color2, $alpha: 0.9);
            @include transition(0.5s);
            overflow: hidden;
            &:hover {
                background-color: $color7;
                .adminTabItemLink {
                    p {
                        color: $color5;
                    }
                }
            }
            .adminTabItemLink {
                display: block;
                text-decoration: none;
                &.tabBtn {
                    background: none;
                    border: none;
                    outline: none;
                    width: 100%;
                }
                &.adminMainTabBgColor {
                    background-color: $color7;
                    p {
                        color: $color5;
                    }
                }
                .adminTabItemIcon {
                    width: 70px;
                    height: 70px;
                }
                
                p {
                    color: $color1;
                    font-weight: 600;
                    @include transition(0.5s);
                }

            }


        }
    }

}