.footer {
    padding: 20px 0px;
    background-color: rgba($color: $color6, $alpha: 0.9);
    background-clip: content-box;
    .footer-title {
        color: $color5;
    }
    .footer-infor {
        color: $color2;
    }
}